@charset "utf-8";
/* CSS Document */
.tm_button {
	background-color:;
	background-position:top left;
	padding:0px;
	margin:0px;
	padding-left:4px;
	float:left;
	margin-right:5px;
	cursor:pointer;
}
.tm_button span.button_content{
	color:#000000;
	cursor:pointer;
	display:inline-block;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	height:24px;
	line-height:24px;
	padding:0px 20px 0px 16px;
	text-align:center;	
	vertical-align:top;
	-webkit-user-select:none; 
	-moz-user-select:none;
}
.tm_button span.button_content span.btn_name{
	vertical-align:middle;
	line-height:24px;	
	height:24px;
	display:block;
	float:left;
}
.tm_button span.button_content span.button_has_child{
	background:url(../images/list_arrow_selected.gif) no-repeat center left !important;
}
.tm_button span.button_content img{
	verticals-align: middle;
}
.tm_button.dropDownByHover{
	cursor:default !important;
}
.tm_button.dropDownByHover span.button_content{
	cursor:default !important;
}
.tm_button .button_has_child{
	padding:0 1px 0 7px;
	height:20px;	
	margin-left:8px;
}

.tm_button.small{
	background:url(../images/btn_small_left.png) no-repeat top left;	
	height:20px;
}
.tm_button.small span.button_content{
	background:url(../images/btn_small_right.png) no-repeat top right;
	font-size:11px;	
	height:20px;
	line-height:20px;	
	padding:0 6px 0 1px;
}
.tm_button.small span.button_content span.btn_name{
	line-height:20px;	
	height:20px;
}
.tm_button.small span.button_content span.button_has_child{	
}
.tm_button.small.small_hover{
	background-position:0px -20px;
}
.tm_button.small.small_hover span.small_hover{
	background-position:right -20px;
}
.tm_button.small.small_focused{
	background-position:0px -60px;
}
.tm_button.small.small_focused span{
	background-position:right -60px;
}
.tm_button.small.small_focused.small_hover{
	background-position:0px -20px;
}
.tm_button.small.small_focused.small_hover span{
	background-position:right -20px;
}
.tm_button.small.small_disabled{
	background-position:0px -80px;
	cursor:default;
}
.tm_button.small.small_disabled span.small_disabled{
	background-position:right -80px;
	cursor:default;
	color:#999;
}
.tm_button.small.small_disabled span.button_content span.button_has_child{
	background:url(../images/list_arrow_disabled.gif) no-repeat center left !important;
	background-position:0px;
	padding:0 1px 0 7px;	
}
.tm_button.small.small_hover.small_actived{
    background-position:0px -40px;
}
.tm_button.small.small_hover.small_actived span.small_actived{
    background-position:right -40px;
}

.tm_button.medium{
	background:url(../images/btn_medium_left.png) no-repeat top left;	
	height:24px;
}
.tm_button.medium span.button_content{
	background:url(../images/btn_medium_right.png) no-repeat top right;
	min-width:40px;
}
.tm_button.medium span.button_content span.btn_name{
}
.tm_button.medium span.button_content span.button_has_child{	
}
.tm_button.medium.medium_hover{
	background-position:0px -24px;
}
.tm_button.medium.medium_hover span.medium_hover{
	background-position:right -24px;
}
.tm_button.medium.medium_focused{
	background-position:0px -72px;
}
.tm_button.medium.medium_focused span{
	background-position:right -72px;
}
.tm_button.medium.medium_focused.medium_hover{
	background-position:0px -24px;
}
.tm_button.medium.medium_focused.medium_hover span{
	background-position:right -24px;
}
.tm_button.medium.medium_disabled{
	background-position:0px -96px;
	cursor:default;
}	
.tm_button.medium.medium_disabled  span.medium_disabled{
	background-position:right -96px;
	cursor:default;
	color:#999;
}
.tm_button.medium.medium_disabled span.button_content span.button_has_child{
	background:url(../images/list_arrow_disabled.gif) no-repeat center left !important;
	background-position:0px;
	padding:0 1px 0 7px;	
}
.tm_button.medium.medium_hover.medium_actived{
    background-position:0px -48px;
}
.tm_button.medium.medium_hover.medium_actived span.medium_actived{
    background-position:right -48px;
}

.tm_button.red{
	background:url(../images/btn_red_left.png) no-repeat top left;
	height:24px;
}
.tm_button.red span.button_content{
	background:url(../images/btn_red_right.png) no-repeat top right;
	color:#FFF;
	min-width:40px;
}
.tm_button.red span.button_content span.btn_name{
}
.tm_button.red span.button_content span.button_has_child{
	background:url(../images/list_arrow_selected_white.gif) no-repeat center left !important;
}
.tm_button.red.red_hover{
	background-position:0px -24px;
}
.tm_button.red.red_hover span.red_hover{
	background-position:right -24px;
}
.tm_button.red.red_focused.red_hover{
	background-position:0px -24px;
}
.tm_button.red.red_focused.red_hover span{
	background-position:right -24px;
}
.tm_button.red.red_focused{
	background-position:0px -72px;
}
.tm_button.red.red_focused span{
	background-position:right -72px;
}
.tm_button.red.red_disabled{
	background-position:0px -96px;
	cursor:default;
}	
.tm_button.red.red_disabled span.red_disabled{
	background-position:right -96px;
	cursor:default;
	color:#996666;
}
.tm_button.red.red_disabled span.button_content span.button_has_child{
	background:url(../images/list_arrow_disabled_white.png) no-repeat center left !important;
	background-position:0px;
	padding:0 1px 0 7px;	
}
.tm_button.red.red_hover.red_actived{
    background-position:0px -48px;
}
.tm_button.red.red_hover.red_actived span.red_actived{
    background-position:right -48px;
}

.tm_button.button_toggle{
	margin:0px;
	padding:0px;
	cursor: default;
}
.tm_button.button_toggle span{
	display:block;	
	padding:0px 4px;
	float:left;	
	cursor:default;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#000000;
}
.tm_button.button_toggle.disabled span{
	color: #999;
}
.tm_button.button_toggle.disabled .toggle_button_container{
	opacity: 0.7;
	filter:alpha(opacity=70);
}
.tm_button.button_toggle.disabled .toggle_button_container .toggle_button_sensor{
	background:url(../images/toggle_on.png) no-repeat left -28px;
	cursor: default;
}
.tm_button.button_toggle.disabled .toggle_button_container .toggle_button_sensor.ui-draggable-disabled{
	opacity: 1;
	filter:alpha(opacity=100);
}
.tm_button.button_toggle.disabled .toggle_button_container .left_sensor,
.tm_button.button_toggle.disabled .toggle_button_container .right_sensor{
	cursor: default;
}
.tm_button.button_toggle .toggle_button_container{
	background:url(../images/toggle_bk.png) no-repeat left top;
	width:61px;
	height:13px;
	display:block;
	position:relative;
	padding:0px;
	margin-top:0px;
}
.tm_button.button_toggle .toggle_button_container .toggle_button_sensor{
	background:url(../images/toggle_on.png) no-repeat left top;
	width:30px;
	height:13px;
	padding:0px;
	position:absolute;
	left:0px;
}
.tm_button.button_toggle .toggle_button_container .toggle_button_sensor.off{
	background:url(../images/toggle_off.png) no-repeat left top;	
}
.tm_button.button_toggle .toggle_button_container .toggle_button_sensor:hover{
	background:url(../images/toggle_on.png) no-repeat left -14px;
	cursor: pointer;
}
.tm_button.button_toggle .toggle_button_container .toggle_button_sensor.off:hover{
	background:url(../images/toggle_off.png) no-repeat left -14px;
	cursor: pointer;
}
.tm_button.button_toggle .toggle_button_container .left_sensor,
.tm_button.button_toggle .toggle_button_container .right_sensor{
	width:50%;
	cursor:pointer;
	height:13px;	
	padding:0px;
}
.tm_button.button_toggle .toggle_button_title {
	font-weight:bold;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
.tm_button.button_toggle .switch_on, .button_toggle .switch_off{
	font-weight:normal;
}
.tm_button.medium ol.drop_down_menu {
	left:4px;
	top:24px;
}
